<div class="container">
    <%= link_to "< Back", :back %>
    <h1>Edit User</h1>
    <%= render partial: "regis_form", locals: { 
        form_url: user_path(@user), 
        form_method: :patch, 
        submit_text: "Update" 
    } %>
</div>