<div class="container">
    <%= link_to "< Back", :back %>
    <h1>Register Form</h1>
    <%= render partial: "regis_form", locals: { 
        form_url: register_path, 
        form_method: :post, 
        submit_text: "Register" 
    } %>
</div>